/* Box Model Hack */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/* Global button reset  */
button {
    appearance: none;          
    -webkit-appearance: none;  
    -moz-appearance: none;     

    border: none;              
    padding: 0;                
    margin: 0;                 

    background: none;          
    font: inherit;             
    color: inherit;            
    line-height: inherit;      

    text-align: inherit;       
    cursor: pointer;           
}
/******************************************
/* BASE STYLES
/*******************************************/
* {
    font-family: "Rubik";
}

a {
    text-decoration: none;
    color: var(--text-grey);
}

:root {
    --text-grey: #212121;
    --border: solid 1px #D1D1D1;
}

h1 {
    font-size: 2.5rem;
    color: #3240ff;
}

h2 {
    border-bottom: #212121 solid 2px;
    padding-bottom: 10px;
    align-self: center;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    width: 100%;
    height: 100vh;
    padding: 40px 60px;
    background-color: #F5F8FA;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


body > div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 61px 1fr;
    grid-template-columns: 230px 1fr;
    gap: 20px;
}


header {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 200px;
}

header a img {
    width: 50px;
}


aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 1px #D1D1D1;
    padding-top: 30px;
    position: relative;
}


nav > div:nth-child(1) > button {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 15px;
    border: solid 1px #D1D1D1;
}

aside button img {
    width: 20px;
}

nav {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

nav > div {
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding-bottom: 23px;
}

.category-wrapper {
    overflow-y: auto;
    max-height: 350px;
    border-bottom: solid 1px #D1D1D1;
}

.category-wrapper > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #D1D1D1;
    padding-bottom: 10px;
    font-size: 1.1;
}

.category-wrapper > div:nth-child(1) {
    position: sticky;
    top: 0;
    background-color: #F5F8FA;
}

.category-wrapper button {
    justify-content: space-between;
}

.category-wrapper button div {
    display: flex;
    gap: 10px;
}

aside > div:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
}

.plus-icon {
    width: 23px;
    aspect-ratio: 1/1;
}

.sidebarBtn {
    background-color: #E8E8E8;
    color: #212121;
}

.sidebarBtn.active {
    background-color: #3240ff;
    color: white;
}

.github-credit {
    display: flex;
    align-items: center;
    gap: 8px;
}

.github-credit img {
    width: 20px;
}





main {
    width: calc(100%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    background-color: white;
    border-radius: 15px;
    border: solid 1px #D1D1D1;
}

.todays-tasks-wrapper:nth-child(1) {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e3e5ff;
}

.todays-tasks-wrapper:nth-child(1) div {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.todays-tasks-wrapper div:nth-child(1) span:nth-child(1) {
    font-size: 2rem;
    font-weight: 600;
}

.todays-tasks-wrapper div:nth-child(1) span:nth-child(2) {
    font-size: 1.2rem;
    font-weight: 300;
}


.todays-tasks-wrapper div:nth-child(2) span {
    font-size: 1.4rem;
    font-weight: 400;
}

.todays-tasks-wrapper div:nth-child(2) span span {
    text-decoration: underline;
    font-weight: 600;
}


#taskWindow {
   height: 85%; 
   padding: 30px 20px 20px 20px;
   position: relative;
   display: flex;
   justify-content: center;
}

.task-window-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
    
    
}

.task-window-wrapper > div:nth-child(1) > div{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: var(--border);
    margin-bottom: 20px;
    
}



.task-window-wrapper div:nth-child(1) i {
    color: #3240ff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tasks-wrapper {
    width: 100%;
    overflow: auto;
    height: 50vh;
}

.tasks-wrapper > div:nth-child(1) {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7px;
    border-bottom: var(--border);
    position: sticky;
    top: 0;
    background-color: white;
}

h3 , h3 span {
    font-size: 1.1rem;
    
    font-weight: 600;
}

.tasks-wrapper > div:nth-child(1) img {
    width: 25px;
    aspect-ratio: 1 / 1;
}

.tasks-wrapper h3 span {
    font-weight: 600; 
}

.individualTaskWrapper {
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: solid 1px #f0f0f0;
    overflow: auto;
}


.individualTaskWrapper > div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 8px;
}



.individualTaskWrapper > div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 12px;
}

.individualTaskWrapper img {
    width: 20px;
}

/* Task bubble */
.individualTaskWrapper > div > div  {
    width: 15px;
    aspect-ratio: 1 / 1;
    border: solid 2px #D1D1D1;
    border-radius: 50%;
}



#taskWindow > button i {
    width: 50px;
    aspect-ratio: 1 / 1;
    position: absolute;
    bottom: 20px;
    right: 31px;
}

#taskWindow > button i {
    font-size: 60px;
}


.modal-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #64646445;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete {
    padding: 80px 80px 70px 80px ;
}

.cancelDelete {
    background-color: #959595 !important;
}

form {
    min-width: 600px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.901);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    position: relative;

}

.fa-xmark {
    font-size: 40px;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 20px;
    right: 22px;
}



.form-question-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input[type="text"] {
   
   
}

input , textarea , select{
    width: 60%;
    border-radius: 15px;
    padding: 8px;
    border: solid #626262 1px;
}

select {
    appearance: none;
    padding: 0 40px 0 10px; 
    height: 40px;            
    line-height: 40px;        
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E") 
                no-repeat 
                right 10px 
                center;
  
    background-size: 20px 20px;
    font-size: 16px;
}


input:user-invalid , textarea:user-invalid  {
    border: solid #fa3d3d 1px;
}

input:user-valid , textarea:user-valid  {
    border: solid #4ccb63 1px;
}

input:focus , textarea:focus {
    border: solid #3240ff 1px;
}


input[type="checkbox"] {
    width: 15px;
    height: 15px;

}

textarea {
    resize: none;
    height: 70px;
}

label[for="taskImportantStatus"] {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

form button {
        border-radius:6px;
        border:1px solid #3c3c3c;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #8c8c8c;
        width: 60%;
}

#createTask , #editTask , #createCategory , #editCategory {
    background-color: #3240ff;
}

button#deleteTask, button#deleteCategory , .cancelBtn {
    background-color: #ff4646;
}

.cancelDelete {
    background-color: #b0b0b0;
}

.errorMessage {
    color: red;
}

.complete::after {
    content: " ";
    position: absolute;
    border-bottom: #3240ff55 solid 2px;
    width: 100%;
    height: 2px;
    top: 22px;
}


/******************************************
/* UTILITY STYLES
/*******************************************/

.button {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    background-color: #E8E8E8;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 15px;
    border: solid 1px #D1D1D1;
}


.task-window-wrapper .fa-eye ,.task-window-wrapper .fa-pen-to-square , .task-window-wrapper .fa-trash {
    color: #212121;
}

.big-black {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
}

.small-white {
    width: 50vw;
    height: 50vh;
    background-color: white;
}

.task-window-wrapper div:nth-child(1) i {
    font-size: 35px;
}